* {
    font-family: 'helvetica';
}

a {
    text-decoration: none;
}

a:visited {
    color: #000000;
}

body {
    background-color: #FFFFFF;
    margin: 0;
}

.linkedimg {
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.linkedimg img {
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;
}

.linkedimg img:hover {
    transform: scale(1.1);
    filter: brightness(60%);
}

/* .linkedimg::after {
    content: "Унших →";
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.linkedimg:hover ::after {
    visibility: visible;
    opacity: 1;
} */
.flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 39.91px;
    position: relative;
}

.header {
    width: 1100px;
    margin: auto;
}

.main {
    width: 1100px;
    margin: auto;
}

.topic {
    width: 1100px;
    margin: auto;
}

.video {
    width: 1100px;
    margin: auto;
}

.footer {
    width: 1100px;
    margin: auto;
    margin-top: 300px;
}

.navbarcontainer {
    background-color: #fafafa;
}

.navbar {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
    padding: 30px 0px;
    align-items: center;
    margin-bottom: 20px;

}

.menu {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.menuDropdown {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    height: 22px;
    /* font-weight: 900; */
}

.menuextralink {
    display: flex;
    color: #000000;
}

.extralinkbox {
    padding-right: 10px;
    font-size: 12px;
}

.extralinktext {
    font-size: 18px;
    padding-left: 5px;
    margin: 0;
}

.extralinkicon {
    display: flex;
    margin: 0;
    align-items: center;
    padding-top: 0;
}

.textgreen {
    color: #2adb00;
    font-size: 18px;
    margin: 0;
}

.headerNews {
    display: flex;
    background: rgb(244, 244, 244);
    background: linear-gradient(90deg, rgba(244, 244, 244, 1) 0%, rgba(250, 250, 250, 1) 60%);
    margin-top: 0px;
    align-items: center;
    border-radius: 10px;
    /* background-color: red; */
}

.headertitle {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 26px;
    color: #000000;
    padding-top: 10px;
    padding-right: 30px;
}

.grayP {
    font-size: 13px;
    color: black;
    opacity: 0.4;
    margin-bottom: 20px;
}

.buttonNiigem {
    background: rgb(205, 30, 37);
    background: linear-gradient(90deg, rgba(205, 30, 37, 1) 0%, rgba(222, 116, 12, 1) 100%);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    color: #FFFFFF;
    width: fit-content;
    border-radius: 100px;
    margin: 0;
    transition-duration: 0.2s;
}

.buttonNiigem:hover {
    transform: scaleX(1.1);
    transform-origin: left center;
}

.headernewsimg {
    width: 50%;
    height: 385px;
    /* border-radius: 100px; */
}

.icons {
    display: flex;
}

.icontext {
    margin: 0;
    padding-left: 5px;
}

.headershare {
    font-size: 16px;
    display: flex;
    color: black;
    background-color: #f0efef;
    border-radius: 15px;
    padding: 5px 10px;
    align-items: center;
    width: fit-content;
    margin: 0;
    justify-content: space-between;
    transition-duration: 0.4s;
    color: #767676;
    cursor: pointer;
}

.headershare:hover {
    transform: scaleX(1.15);
    transform-origin: left center;
    background-color: white;
}

.headershare:hover svg {
    transform: rotate(30deg);
    transition-duration: 0.4s;
}

.headercomment {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-left: 15px;
    align-items: center;
    cursor: pointer;
    color: #767676;
}

.headerinfo {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 50px;
    gap: 15px;
}

.headerinfotext {
    font-size: 14px;
    color: #000000;
    margin-top: 10px;

}

.headerinfoimg {
    height: 175px;
    border-radius: 5px;
}

.headerinfodiv {
    width: 25%;
}

.headerinfoshare {
    display: flex;
    color: #8e8e8e;
    font-size: 13px;
    align-items: center;
    margin-right: 20px;
}

.storyimg {
    height: 235px;
    border-radius: 5px;
}

.storytitle {
    display: flex;
    align-items: center;
    margin: 0;
}

.storygogo {
    font-size: 26px;
    margin-right: 5px;
}

.storyblue {
    background-color: #00b0f4;
    color: #ffffff;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
}

.storybox {
    display: flex;
    height: 235px;
    position: relative;
}

.storylogo {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 10px;
}

.storytext {
    color: white;
    position: absolute;
    margin-bottom: 5px;
    font-size: 13px;
    bottom: 15px;
    padding: 10px;
}

.storyicon {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.storyview {
    margin: 0;
    font-size: 12px;
}

.datecontainer {
    display: flex;
}

.datetoday {
    color: #407ce8;
    font-size: 16px;
    margin: 0;
    padding-bottom: 5px;
}

.datepicker {
    width: 103.81px;
    height: 7px;
    border-radius: 20px;
    background-color: #efefef;
    /* background-color: #407ce8; */
}

.datetext {
    font-size: 13px;
    color: #B7B6B6;
}