* {
    font-family: 'helvetica';
}

a {
    text-decoration: none;
}

a:visited {
    color: #000000;
}

body {
    background-color: #FFFFFF;
    margin: 0;
}
.linkedimg {
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}
.linkedimg img{
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;
}
.linkedimg img:hover {
    transform: scale(1.1);
    filter: brightness(60%);
}

/* .linkedimg::after {
    content: "Унших →";
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.linkedimg:hover ::after {
    visibility: visible;
    opacity: 1;
} */
.flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 39.91px;
    position: relative;
}

.header {
    width: 1100px;
    margin: auto;
}

.main {
    width: 1100px;
    margin: auto;
}

.video {
    width: 1100px;
    margin: auto;
}

.footer {
    width: 1100px;
    margin: auto;
    margin-top: 300px;
}

.navbarcontainer {
    background-color: #fafafa;
}

.navbar {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
    padding: 0px, 40px;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 10px;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menuDropdown {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    height: 22px;
}

.menuextralink {
    display: flex;
    margin: -15px, 0px, 0px;
    color: #000000;
    justify-content: end;
}

.extralinkbox {
    margin-top: -15px;
    padding-right: 10px;
}

.extralinktext {
    font-size: 18px;
    margin-top: 5px;
    margin-left: 5px;
}

.headerNews {
    display: flex;
    background: rgb(244,244,244);
background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(250,250,250,1) 60%);
    margin-top: 0px;
    align-items: center;
    border-radius: 10px;
    /* background-color: red; */
}

.headertitle {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 26px;
    color: #000000;
    padding-top: 10px;
    padding-right: 30px;
}

.grayP {
    font-size: 13px;
    color: black;
    opacity: 0.4;
    margin-bottom: 20px;
}

.buttonNiigem {
    background: rgb(205,30,37);
    background: linear-gradient(90deg, rgba(205,30,37,1) 0%, rgba(222,116,12,1) 100%);    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    color: #FFFFFF;
    width: fit-content;
    border-radius: 100px;
    margin: 0;
    transition-duration: 0.2s;
}
.buttonNiigem:hover {
    transform: scaleX(1.1);
    transform-origin: left center;
}

.headernewsimg {
    width: 50%;
    height: 385px;
    /* border-radius: 100px; */
}

.textgreen {
    color: #2adb00;
    font-size: 18px;
}

.headerinfo {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 50px;
    gap: 15px;
}

.headerinfotext {
    font-size: 14px;
    color: #000000;
    margin-top: 10px;

}

.headerinfoimg {
    height: 175px;
    border-radius: 5px;
}

.headerinfodiv {
  width: 25%;
}

.storyimg {
    height: 235px;
    border-radius: 5px;
}

.storytitle {
    display: flex;
    align-items: center;
    margin: 0;
}

.storygogo {
    font-size: 26px;
    margin-right: 5px;
}

.storyblue {
    background-color: #00b0f4;
    color: #ffffff;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
}
.storybox {
    display: flex;
    height: 235px;
    position: relative;
}
.storylogo {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 10px;
}
.storytext {
    color: white;
    position: absolute;
    margin-bottom: 5px;
    font-size: 13px;
    bottom: 0;
    padding: 10px;
}